<div class="loading" *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<main role="main" class="container" *ngIf="!isLoading">
  <div
    class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm"
  >
    <img
      class="mr-3"
      src="{{ portret.url }}"
      alt="{{ user.name }}"
      width="100"
      height="100"
    />
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-10 user-text">
        {{ user.name }} ({{ user.username }})
      </h6>
      <small class="credentials"
        ><img class="user-icon" src="../../assets/phone-icon.svg" />
        {{ user.phone }}</small
      >
      <small
        ><img class="user-icon" src="../../assets/email-icon.svg" />
        {{ user.email }}</small
      >
      <small
        ><img class="user-icon" src="../../assets/safari-icon.svg" />
        {{ user.website }}</small
      >
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Bio</h6>
    <div class="list-group w-auto">
      <a
        href="#"
        class="list-group-item list-group-item-action d-flex gap-3 py-3"
        aria-current="true"
      >
        <img
          src="../../assets/cursor-icon.svg"
          alt="twbs"
          width="32"
          height="32"
          class="rounded-circle flex-shrink-0 bio-icon"
        />
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">City: {{ user.address.city }}</h6>
            <p class="mb-0 opacity-75">
              lat: {{ user.address.geo.lat }} <br />
              long: {{ user.address.geo.lng }}
            </p>
          </div>
          <!-- <small class="opacity-50 text-nowrap">now</small> -->
        </div>
      </a>
      <a
        href="#"
        class="list-group-item list-group-item-action d-flex gap-3 py-3"
        aria-current="true"
      >
        <img
          src="../../assets/cursor-icon.svg"
          alt="twbs"
          width="32"
          height="32"
          class="rounded-circle flex-shrink-0 bio-icon"
        />
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Street: {{ user.address.street }}</h6>
            <p class="mb-0 opacity-75">
              Suite: {{ user.address.suite }}<br />
              Zipcode:
              {{ user.address.zipcode }}
            </p>
          </div>

          <!-- <small class="opacity-50 text-nowrap">3d</small> -->
        </div>
      </a>
      <h6 class="border-bottom border-gray pb-2 mb-0 bio-text">
        Work experience
      </h6>
      <a
        href="#"
        class="list-group-item list-group-item-action d-flex gap-3 py-3"
        aria-current="true"
      >
        <img
          src="../../assets/building-icon.svg"
          alt="twbs"
          width="32"
          height="32"
          class="rounded-circle flex-shrink-0"
        />
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Company: {{ user.company.name }}</h6>
            <p class="mb-0 opacity-75">
              Position: {{ user.company.bs }}
              <br />
              Catch phrase: {{ user.company.catchPhrase }}
            </p>
          </div>
          <!-- <small class="opacity-50 text-nowrap">now</small> -->
        </div>
      </a>
    </div>
  </div>
</main>
