<div class="home">
  <h1 class="h3 mb-3 font-weight-normal">Load API users</h1>
  <button
    class="btn btn-lg btn-primary btn-block me-1"
    routerLink="/users"
    type="button"
  >
    Load users
  </button>
  <button
    class="btn btn-lg btn-primary btn-block"
    *ngIf="!isAuthentificated"
    routerLink="/auth"
    type="button"
  >
    Login
  </button>
  <button
    class="btn btn-lg btn-primary btn-block"
    *ngIf="isAuthentificated"
    routerLink="/users/add"
    type="button"
  >
    Add user
  </button>
  <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p> -->
</div>
